{% extends "base.html" %}
{% block content %}
    <div class="container-fluid" id="about" style="background-color: aliceblue; margin-top:100px;">
        <h2 style="color: blue;">What is Electronshop?</h2>
        <p style="line-height: 180%;">Electronshop is a dedicated team with a strong passion for electronic products! Offering a wide range of items and focusing on providing the best deals is a great approach to attract customers.
            The convenience of searching for products, placing orders, and quick delivery adds value to the customer experience. With such dedication and commitment to customer satisfaction, it's no wonder other online retailers turn to Electronshop when they need to restock their inventory. Keep up the good work!
        </p>

        <h3 style="color: aqua;">Our Delivery Services</h3>
        <p style="line-height: 180%;">
            Delivering countrywide means that Electronshop offers its products and services to customers across the entire country, regardless of their location. This comprehensive delivery coverage ensures 
            that people from all regions, cities, and towns within the country can access Electronshop's electronic products and enjoy its services. It signifies a commitment to accessibility, convenience, and  
            inclusivity, allowing Electronshop to reach a wider audience and cater to the diverse needs of customers nationwide.
        </p>

        <h3 style="color: aqua;">Pay on Delivery</h3>
        <p style="line-height: 180%;">Customers have the option to pay for their orders upon delivery, providing flexibility and convenience. This payment method fosters trust by allowing customers to inspect products before 
            making a payment. It ensures transparency in the payment process and accommodates various customer preferences.
        </p>
        
        <h3 style="color: aqua;">Our Return Policy</h3>
        <p style="line-height: 180%;">So, the product you got was not what you wanted?? We have an awesome <span style="color: blue;">7</span> day return policy.<br><br>
            We strive to provide a hassle-free return process, allowing customers to easily initiate returns and receive refunds or exchanges. Our commitment to customer satisfaction extends beyond the initial purchase, ensuring a positive shopping experience from start to finish.
        </p>

        <h3 style="color: aqua;">Contact Us</h3>
        <p style="line-height: 180%;">For any inquiries or assistance, please feel free to reach out to us via email at support@electronshop.com. Alternatively, you can contact us by phone at (+254)712-345-678 or (+254)798-765-432. Our dedicated customer support team is available to assist you at any time, ensuring a seamless shopping experience with Electronshop.</p>


    </div>

{% endblock %}
